DERIV_CLIENT_ID=34vvcam28Ydxf3IHNHKJI
# APP_BASE_URL is optional.
# Render automatically supplies RENDER_EXTERNAL_URL in production.
# For local testing you can use:
APP_BASE_URL=http://localhost:3000
PORT=3000
NODE_ENV=development
